In [1]:
import pandas as pd

In [2]:
data_path = "../log/evaluation_shb_CompactCNNV7i_t2.txt"

In [3]:
df = pd.read_csv(data_path, header=None, sep=" ")
df.columns=["name", "gt_density", "gt_count", "pred"]

In [4]:
df.head()

      name  gt_density  gt_count        pred
0    IMG_1   21.938055        23   27.056337
1   IMG_10  168.015335       181  171.466995
2  IMG_100  154.466904       157  107.567741
3  IMG_101   34.326912        37   41.111763
4  IMG_102   65.542725        70   74.637390

In [5]:
df["gt_generate_error"] = abs(df["gt_count"]-df["gt_density"])

In [6]:
df["pred_error"] = abs(df["gt_count"]-df["pred"])
df["pred_error2"] = abs(df["gt_density"]-df["pred"])

In [7]:
gt_generate_mae = df["gt_generate_error"].mean()
print(gt_generate_mae)

7.338098435462276

In [8]:
pred_mae = df["pred_error"].mean()
print(pred_mae)

15.029132263569892

In [9]:
pred_mae2 = df["pred_error2"].mean()
print(pred_mae2)

14.812069554872151

In [10]:
df["gt_generate_error_percentage"] = abs(df["gt_count"]-df["gt_density"])/df["gt_count"] * 100
df["pred_error_percentage"] = abs(df["gt_count"]-df["pred"])/df["gt_count"] * 100

In [11]:
df.head()

,name,gt_density,gt_count,pred,gt_generate_error,pred_error,pred_error2,gt_generate_error_percentage,pred_error_percentage
0,IMG_1,21.938055,23,27.056337,1.061945,4.056337,5.118282,4.617152,17.636249
1,IMG_10,168.015335,181,171.466995,12.984665,9.533005,3.451660,7.173848,5.266853
2,IMG_100,154.466904,157,107.567741,2.533096,49.432259,46.899162,1.613437,31.485515
3,IMG_101,34.326912,37,41.111763,2.673088,4.111763,6.784851,7.224562,11.112873
4,IMG_102,65.542725,70,74.637390,4.457275,4.637390,9.094666,6.367536,6.624843

In [12]:
df["gt_generate_error_percentage"].mean()

5.966772023225838

In [13]:
df["pred_error_percentage"].mean()

12.624878158989976