In [1]:
import pandas as pd

In [2]:
data_path = "../log/evaluation_shb_BigTail13i_t1.txt"

In [3]:
df = pd.read_csv(data_path, header=None, sep=" ")
df.columns=["name", "gt_density", "gt_count", "pred"]

In [4]:
df.head()

      name  gt_density  gt_count        pred
0    IMG_1   21.938055        23   15.121191
1   IMG_10  168.015335       181  185.331696
2  IMG_100  154.466904       157  131.892746
3  IMG_101   34.326912        37   30.035917
4  IMG_102   65.542725        70   66.501656

In [5]:
df["gt_generate_error"] = abs(df["gt_count"]-df["gt_density"])

In [6]:
df["pred_error"] = abs(df["gt_count"]-df["pred"])
df["pred_error2"] = abs(df["gt_density"]-df["pred"])

In [7]:
gt_generate_mae = df["gt_generate_error"].mean()
print(gt_generate_mae)

7.338098435462276

In [8]:
pred_mae = df["pred_error"].mean()
print(pred_mae)

12.229519746160205

In [9]:
pred_mae2 = df["pred_error2"].mean()
print(pred_mae2)

11.066216304521017

In [10]:
df["gt_generate_error_percentage"] = abs(df["gt_count"]-df["gt_density"])/df["gt_count"] * 100
df["pred_error_percentage"] = abs(df["gt_count"]-df["pred"])/df["gt_count"] * 100

In [11]:
df.head()

,name,gt_density,gt_count,pred,gt_generate_error,pred_error,pred_error2,gt_generate_error_percentage,pred_error_percentage
0,IMG_1,21.938055,23,15.121191,1.061945,7.878809,6.816864,4.617152,34.255691
1,IMG_10,168.015335,181,185.331696,12.984665,4.331696,17.316360,7.173848,2.393202
2,IMG_100,154.466904,157,131.892746,2.533096,25.107254,22.574158,1.613437,15.991882
3,IMG_101,34.326912,37,30.035917,2.673088,6.964083,4.290995,7.224562,18.821845
4,IMG_102,65.542725,70,66.501656,4.457275,3.498344,0.958931,6.367536,4.997635

In [12]:
df["gt_generate_error_percentage"].mean()

5.966772023225838

In [13]:
df["pred_error_percentage"].mean()

11.322604763421914