In [2]:
path = "0003.txt"

In [1]:
!ls

0003.txt	      jhucrowd_label.ipynb  p_if_deformable_bug.py
ccnnv2_playground.py  p_batch.py	    play_load_perspective_map.py
__init__.py	      p_can_adcrowdnet.py

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv(path, sep=" ", header=None)

In [9]:
df.head()

     0    1  2   3  4  5
0  499  347  6   7  1  0
1  143  640  8  10  1  0
2  539  649  8  10  1  0
3  301  385  6   7  1  0
4  553  395  6   7  1  0

In [11]:
p = df.to_numpy()

In [12]:
p

array([[499, 347,   6,   7,   1,   0],
       [143, 640,   8,  10,   1,   0],
       [539, 649,   8,  10,   1,   0],
       ...,
       [962, 538,   8,  10,   1,   0],
       [337, 399,   6,   7,   1,   0],
       [445, 270,   5,   7,   1,   0]])

In [13]:
p[0,1]

347

In [14]:
p[0][1]

347